.home {
  background: var(--mainBlue);
  position: relative;
}

.showcase {
  display: flex;
  min-height: 90vh;
  max-height: 90vh;
  align-items: center;

  position: relative;
}

.profile {
  position: relative;
  z-index: 1;

  flex: 1;
  margin-top: 50px;
  overflow-x: visible;
  /* overflow: hidden; */
}
.profileImage {
  /* object-fit: cover; */
  width: 70%;
}
.profile:before {
  content: '';
  position: absolute;
  width: 70%;
  height: 100%;

  border: 0.2rem solid var(--darkBlue);
  top: 2rem;

  right: 6rem;
  border-radius: 5px;
  z-index: -1;
}
.info > * {
  margin-bottom: 50px;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  align-items: center;
  flex: 2;
}
.info h2 {
  font-size: 3rem;
}
/*  */
.info p {
  font-size: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 30px;
}
.socialIcon {
  font-size: 180%;
  color: var(--icon);
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 272px 730px #000000, 1776px 1759px #000000, 1095px 372px #000000,
    1946px 1764px #000000, 1205px 1888px #000000, 1468px 1233px #000000,
    263px 245px #000000, 1189px 398px #000000, 63px 1560px #000000,
    1664px 1274px #000000, 612px 1247px #000000, 1377px 925px #000000,
    276px 738px #000000, 586px 78px #000000, 169px 241px #000000,
    386px 117px #000000, 64px 934px #000000, 1544px 753px #000000,
    1193px 689px #000000, 1366px 1223px #000000, 551px 28px #000000,
    292px 1126px #000000, 927px 742px #000000, 1199px 1179px #000000,
    203px 1409px #000000, 1209px 1951px #000000, 843px 920px #000000,
    220px 96px #000000, 158px 94px #000000, 1483px 1931px #000000,
    1921px 1272px #000000, 276px 1460px #000000, 1765px 1744px #000000,
    1353px 1369px #000000, 1779px 1425px #000000, 806px 349px #000000,
    1154px 1906px #000000, 1800px 765px #000000, 1202px 1392px #000000,
    1278px 1671px #000000, 87px 1267px #000000, 1793px 1812px #000000,
    86px 844px #000000, 634px 590px #000000, 499px 1235px #000000,
    836px 1608px #000000, 1753px 662px #000000, 1198px 903px #000000,
    1821px 1805px #000000, 125px 365px #000000, 1199px 1467px #000000,
    640px 724px #000000, 286px 1644px #000000, 105px 1350px #000000,
    715px 907px #000000, 1921px 86px #000000, 719px 1917px #000000,
    737px 1621px #000000, 1892px 791px #000000, 138px 1401px #000000,
    1743px 621px #000000, 1753px 383px #000000, 1976px 1527px #000000,
    382px 39px #000000, 1855px 1248px #000000, 951px 552px #000000,
    93px 1012px #000000, 1411px 483px #000000, 824px 1847px #000000,
    326px 1696px #000000, 445px 124px #000000, 858px 1963px #000000,
    958px 1118px #000000, 19px 1435px #000000, 1380px 991px #000000,
    1646px 332px #000000, 1201px 982px #000000, 461px 601px #000000,
    1077px 254px #000000, 915px 1822px #000000, 232px 407px #000000,
    1953px 1574px #000000, 1189px 1006px #000000, 1593px 54px #000000,
    687px 437px #000000, 1934px 255px #000000, 879px 1087px #000000,
    1832px 134px #000000, 1407px 1979px #000000, 1367px 1451px #000000,
    1745px 627px #000000, 348px 46px #000000, 277px 750px #000000,
    1932px 1626px #000000, 182px 1905px #000000, 89px 1867px #000000,
    1098px 1783px #000000, 1765px 766px #000000, 2px 968px #000000,
    317px 1459px #000000, 225px 386px #000000, 1267px 195px #000000,
    1763px 1915px #000000, 1557px 1119px #000000, 1546px 1825px #000000,
    1509px 465px #000000, 19px 1144px #000000, 216px 294px #000000,
    1119px 89px #000000, 348px 1284px #000000, 1311px 1630px #000000,
    479px 1035px #000000, 1822px 1362px #000000, 1835px 1597px #000000,
    110px 1483px #000000, 1931px 679px #000000, 1178px 1730px #000000,
    208px 666px #000000, 245px 1978px #000000, 1224px 1429px #000000,
    1809px 101px #000000, 881px 33px #000000, 1920px 1976px #000000,
    1642px 1291px #000000, 1659px 123px #000000, 1134px 1835px #000000,
    346px 1687px #000000, 763px 601px #000000, 105px 1324px #000000,
    1487px 1942px #000000, 296px 119px #000000, 1768px 930px #000000,
    958px 865px #000000, 1362px 1418px #000000, 1562px 111px #000000,
    1513px 694px #000000, 1533px 77px #000000, 758px 1842px #000000,
    437px 1724px #000000, 644px 289px #000000, 1673px 1689px #000000,
    170px 1283px #000000, 1067px 786px #000000, 1788px 460px #000000,
    1110px 930px #000000, 138px 930px #000000, 813px 529px #000000,
    1048px 866px #000000, 1885px 1594px #000000, 141px 199px #000000,
    544px 864px #000000, 1443px 148px #000000, 1721px 1521px #000000,
    1804px 241px #000000, 1810px 1326px #000000, 1467px 867px #000000,
    1151px 289px #000000, 1588px 1004px #000000, 122px 464px #000000,
    910px 1922px #000000, 242px 1045px #000000, 159px 84px #000000,
    288px 1085px #000000, 864px 1745px #000000, 1266px 1313px #000000,
    1537px 22px #000000, 606px 1413px #000000, 194px 1743px #000000,
    812px 1728px #000000, 461px 1770px #000000, 1008px 1184px #000000,
    1730px 1245px #000000, 1915px 1289px #000000, 978px 1846px #000000,
    1934px 1478px #000000, 459px 194px #000000, 31px 66px #000000,
    731px 973px #000000, 858px 1421px #000000, 213px 1196px #000000,
    719px 732px #000000, 965px 1122px #000000, 1149px 1941px #000000,
    206px 1722px #000000, 1921px 1497px #000000, 784px 645px #000000,
    1809px 1935px #000000, 538px 773px #000000, 1875px 1465px #000000,
    290px 914px #000000, 1494px 86px #000000, 506px 979px #000000,
    658px 989px #000000, 962px 1243px #000000, 163px 24px #000000,
    875px 859px #000000, 1254px 461px #000000, 582px 780px #000000,
    1127px 670px #000000, 1245px 584px #000000, 1494px 480px #000000,
    1734px 767px #000000, 511px 57px #000000, 134px 1530px #000000,
    81px 691px #000000, 948px 1554px #000000, 183px 1106px #000000,
    1623px 1354px #000000, 1823px 1710px #000000, 1336px 624px #000000,
    1931px 1907px #000000, 1867px 851px #000000, 1718px 782px #000000,
    1731px 836px #000000, 1053px 1026px #000000, 88px 748px #000000,
    341px 1276px #000000, 1515px 1704px #000000, 1250px 198px #000000,
    764px 1141px #000000, 1084px 1407px #000000, 85px 1141px #000000,
    455px 1538px #000000, 1949px 173px #000000, 1125px 925px #000000,
    1453px 496px #000000, 81px 1106px #000000, 38px 173px #000000,
    1272px 1131px #000000, 699px 1208px #000000, 851px 1730px #000000,
    653px 1679px #000000, 82px 1790px #000000, 1043px 2px #000000,
    858px 135px #000000, 1382px 1972px #000000, 1834px 1507px #000000,
    39px 603px #000000, 405px 600px #000000, 1109px 1763px #000000,
    573px 446px #000000, 1132px 1834px #000000, 442px 921px #000000,
    1149px 546px #000000, 509px 1519px #000000, 1645px 1594px #000000,
    727px 19px #000000, 894px 925px #000000, 674px 223px #000000,
    214px 1384px #000000, 1332px 1549px #000000, 1917px 904px #000000,
    1265px 426px #000000, 1774px 761px #000000, 555px 1318px #000000,
    1126px 931px #000000, 1993px 743px #000000, 565px 879px #000000,
    1079px 58px #000000, 1342px 895px #000000, 141px 1820px #000000,
    574px 327px #000000, 1225px 1216px #000000, 368px 1451px #000000,
    1671px 589px #000000, 1749px 1666px #000000, 104px 835px #000000,
    1255px 1840px #000000, 1351px 1397px #000000, 587px 1531px #000000,
    1796px 130px #000000, 1129px 1218px #000000, 1031px 1672px #000000,
    819px 266px #000000, 934px 259px #000000, 1101px 566px #000000,
    100px 366px #000000, 1022px 782px #000000, 1971px 1807px #000000,
    63px 670px #000000, 1843px 94px #000000, 1623px 968px #000000,
    728px 375px #000000, 347px 782px #000000, 1520px 1349px #000000,
    159px 742px #000000, 1640px 221px #000000, 1492px 1670px #000000,
    1850px 1631px #000000, 293px 346px #000000, 824px 1429px #000000,
    1342px 613px #000000, 264px 1047px #000000, 232px 1208px #000000,
    1880px 994px #000000, 1750px 1430px #000000, 203px 962px #000000,
    647px 204px #000000, 231px 1437px #000000, 750px 708px #000000,
    906px 1829px #000000, 618px 1940px #000000, 525px 1358px #000000,
    158px 758px #000000, 1198px 271px #000000, 633px 1646px #000000,
    956px 1474px #000000, 453px 1458px #000000, 588px 1678px #000000,
    1570px 1538px #000000, 855px 912px #000000, 1260px 1988px #000000,
    1468px 1905px #000000, 1550px 1132px #000000, 367px 35px #000000,
    1013px 263px #000000, 1050px 1948px #000000, 235px 645px #000000,
    1871px 1197px #000000, 958px 1474px #000000, 376px 1264px #000000,
    934px 1630px #000000, 1450px 385px #000000, 1391px 966px #000000,
    1016px 223px #000000, 672px 1029px #000000, 1834px 1739px #000000,
    693px 649px #000000, 1695px 979px #000000, 1580px 1222px #000000,
    864px 1239px #000000, 926px 1441px #000000, 1108px 1993px #000000,
    1177px 1368px #000000, 698px 698px #000000, 527px 928px #000000,
    39px 816px #000000, 1165px 1899px #000000, 99px 984px #000000,
    1844px 184px #000000, 858px 1142px #000000, 244px 1897px #000000,
    1720px 1570px #000000, 906px 1229px #000000, 718px 176px #000000,
    1721px 397px #000000, 1637px 313px #000000, 46px 966px #000000,
    1021px 405px #000000, 179px 634px #000000, 1428px 616px #000000,
    616px 796px #000000, 1842px 1946px #000000, 1415px 1350px #000000,
    571px 1379px #000000, 1064px 1319px #000000, 1688px 1808px #000000,
    641px 1781px #000000, 238px 320px #000000, 22px 1143px #000000,
    1241px 1177px #000000, 1043px 456px #000000, 1379px 1198px #000000,
    430px 152px #000000, 1294px 1722px #000000, 157px 581px #000000,
    488px 1485px #000000, 1426px 719px #000000, 680px 979px #000000,
    578px 1169px #000000, 212px 1535px #000000, 1988px 199px #000000,
    1215px 1360px #000000, 187px 62px #000000, 287px 1383px #000000,
    528px 1820px #000000, 1028px 1861px #000000, 1193px 655px #000000,
    1766px 417px #000000, 201px 960px #000000, 1546px 1497px #000000,
    1433px 1144px #000000, 1633px 983px #000000, 586px 1442px #000000,
    1154px 1540px #000000, 27px 871px #000000, 673px 1783px #000000,
    1505px 818px #000000, 644px 1992px #000000, 91px 416px #000000,
    67px 645px #000000, 1668px 1431px #000000, 771px 1658px #000000,
    1551px 600px #000000, 832px 531px #000000, 1944px 605px #000000,
    325px 222px #000000, 680px 1979px #000000, 955px 1916px #000000,
    1052px 1982px #000000, 1084px 168px #000000, 442px 1617px #000000,
    1262px 981px #000000, 645px 693px #000000, 1940px 1689px #000000,
    706px 1404px #000000, 152px 493px #000000, 1331px 1847px #000000,
    537px 1918px #000000, 297px 1974px #000000, 1834px 1265px #000000,
    833px 1707px #000000, 1520px 558px #000000, 1805px 797px #000000,
    247px 664px #000000, 1664px 320px #000000, 1198px 410px #000000,
    1971px 1591px #000000, 1881px 1709px #000000, 445px 1505px #000000,
    835px 1931px #000000, 1726px 573px #000000, 737px 1037px #000000,
    1786px 933px #000000, 1596px 1874px #000000, 1021px 1563px #000000,
    919px 1135px #000000, 1075px 1122px #000000, 536px 460px #000000,
    1580px 635px #000000, 687px 113px #000000, 259px 1305px #000000,
    945px 1468px #000000, 1130px 735px #000000, 1472px 1030px #000000,
    1371px 43px #000000, 491px 792px #000000, 1330px 1451px #000000,
    1569px 785px #000000, 614px 136px #000000, 1205px 1534px #000000,
    209px 1808px #000000, 1244px 848px #000000, 1727px 1275px #000000,
    1468px 1910px #000000, 1126px 1087px #000000, 970px 191px #000000,
    1883px 441px #000000, 173px 1515px #000000, 1455px 437px #000000,
    412px 359px #000000, 658px 969px #000000, 836px 1304px #000000,
    796px 1981px #000000, 1526px 1084px #000000, 882px 81px #000000,
    659px 910px #000000, 1555px 471px #000000, 1520px 1232px #000000,
    1571px 305px #000000, 1152px 1777px #000000, 799px 1482px #000000,
    1543px 530px #000000, 232px 1311px #000000, 1944px 1485px #000000,
    796px 1782px #000000, 464px 564px #000000, 1228px 240px #000000,
    84px 533px #000000, 1786px 77px #000000, 1561px 300px #000000,
    934px 1739px #000000, 243px 1691px #000000, 40px 1196px #000000,
    1975px 1927px #000000, 1348px 1334px #000000, 9px 1770px #000000,
    1167px 1607px #000000, 1864px 1039px #000000, 1004px 504px #000000,
    1341px 642px #000000, 895px 1954px #000000, 158px 1006px #000000,
    1499px 1827px #000000, 110px 1595px #000000, 167px 1317px #000000,
    787px 940px #000000, 1085px 1444px #000000, 89px 1356px #000000,
    1715px 1964px #000000, 542px 1172px #000000, 79px 413px #000000,
    177px 1544px #000000, 141px 1349px #000000, 1177px 921px #000000,
    494px 1825px #000000, 203px 774px #000000, 1963px 766px #000000,
    418px 1935px #000000, 14px 1227px #000000, 1209px 1328px #000000,
    1193px 16px #000000, 1858px 1530px #000000, 1276px 1758px #000000,
    1623px 1480px #000000, 1655px 888px #000000, 554px 38px #000000,
    1581px 401px #000000, 1183px 1567px #000000, 1161px 1833px #000000,
    1047px 1979px #000000, 1493px 840px #000000, 1308px 1487px #000000,
    1657px 441px #000000, 1427px 1826px #000000, 916px 1544px #000000,
    1726px 1997px #000000, 1929px 1976px #000000, 861px 1380px #000000,
    138px 1731px #000000, 1949px 712px #000000, 1879px 327px #000000,
    618px 468px #000000, 1622px 774px #000000, 82px 237px #000000,
    835px 1306px #000000, 1777px 648px #000000, 757px 1123px #000000,
    1596px 1917px #000000, 481px 287px #000000, 1156px 1144px #000000,
    1057px 1807px #000000, 1380px 498px #000000, 1541px 873px #000000,
    1739px 192px #000000, 1000px 1679px #000000, 1078px 1156px #000000,
    1995px 1730px #000000, 1609px 384px #000000, 1495px 1964px #000000,
    513px 1147px #000000, 1008px 1224px #000000, 1346px 1109px #000000,
    1087px 1005px #000000, 1953px 578px #000000, 1699px 529px #000000,
    1192px 6px #000000, 1208px 422px #000000, 1402px 344px #000000,
    828px 1585px #000000, 612px 738px #000000, 1845px 896px #000000,
    803px 769px #000000, 701px 333px #000000, 750px 1209px #000000,
    1556px 50px #000000, 1764px 1060px #000000, 915px 173px #000000,
    1283px 1880px #000000, 548px 1377px #000000, 1493px 1449px #000000,
    834px 1321px #000000, 910px 1114px #000000, 1040px 1221px #000000,
    1090px 1930px #000000, 1186px 418px #000000, 985px 1679px #000000,
    1949px 1840px #000000, 509px 1936px #000000, 1140px 214px #000000,
    1227px 1810px #000000, 1255px 1565px #000000, 266px 807px #000000,
    1528px 1361px #000000, 1749px 1413px #000000, 207px 723px #000000,
    494px 647px #000000, 1394px 1715px #000000, 1911px 1757px #000000,
    512px 1341px #000000, 333px 1544px #000000, 500px 881px #000000,
    1059px 704px #000000, 1489px 570px #000000, 1115px 491px #000000,
    637px 943px #000000, 1261px 215px #000000, 777px 530px #000000,
    1543px 899px #000000, 1433px 970px #000000, 1386px 1349px #000000,
    378px 1121px #000000, 649px 1252px #000000, 624px 1150px #000000,
    1372px 1764px #000000, 490px 909px #000000, 1015px 155px #000000,
    1021px 41px #000000, 725px 1819px #000000, 1852px 1093px #000000,
    1907px 1294px #000000, 1644px 286px #000000, 120px 232px #000000,
    453px 824px #000000, 1050px 533px #000000, 1211px 1731px #000000,
    1449px 722px #000000, 1957px 1783px #000000, 1809px 1113px #000000,
    168px 1106px #000000, 21px 6px #000000, 1611px 1120px #000000,
    757px 170px #000000, 485px 1036px #000000, 1872px 456px #000000,
    107px 1134px #000000, 1833px 260px #000000, 468px 35px #000000,
    1225px 1332px #000000, 1705px 1403px #000000, 253px 401px #000000,
    589px 1040px #000000, 1314px 601px #000000, 1745px 121px #000000,
    395px 1735px #000000, 1594px 1278px #000000, 1915px 1830px #000000,
    1134px 885px #000000, 1815px 1241px #000000, 1524px 1454px #000000,
    349px 386px #000000, 1362px 174px #000000, 709px 1254px #000000,
    706px 1208px #000000, 1981px 151px #000000, 1095px 1704px #000000,
    294px 1531px #000000, 1534px 149px #000000, 425px 498px #000000,
    1522px 1567px #000000, 1460px 868px #000000, 451px 1954px #000000,
    331px 1149px #000000, 1824px 830px #000000, 13px 413px #000000,
    85px 1016px #000000, 658px 1999px #000000, 1841px 1414px #000000,
    366px 27px #000000, 1491px 1601px #000000, 849px 18px #000000,
    515px 988px #000000, 1301px 1294px #000000, 1734px 298px #000000,
    318px 1830px #000000, 613px 599px #000000, 341px 1398px #000000,
    707px 1783px #000000, 81px 96px #000000, 835px 525px #000000,
    854px 1296px #000000, 1496px 150px #000000, 515px 419px #000000,
    1689px 605px #000000, 563px 461px #000000, 4px 1622px #000000,
    1357px 1611px #000000, 135px 1343px #000000, 755px 1929px #000000,
    279px 1404px #000000, 530px 1247px #000000, 788px 709px #000000,
    832px 1213px #000000, 1433px 944px #000000, 982px 1286px #000000,
    1959px 841px #000000, 174px 750px #000000, 1826px 628px #000000,
    1653px 307px #000000, 650px 149px #000000, 250px 323px #000000,
    1589px 1394px #000000, 152px 1327px #000000, 1884px 1081px #000000,
    319px 1178px #000000, 81px 1188px #000000, 623px 1293px #000000,
    1005px 94px #000000, 1453px 200px #000000, 583px 247px #000000,
    402px 1548px #000000, 811px 1991px #000000, 428px 915px #000000,
    997px 782px #000000, 61px 1297px #000000, 479px 1457px #000000,
    1226px 817px #000000, 1396px 1075px #000000, 1289px 1683px #000000,
    1416px 444px #000000;
  -webkit-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

.stars:after {
  content: ' ';
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 272px 730px #000000, 1776px 1759px #000000, 1095px 372px #000000,
    1946px 1764px #000000, 1205px 1888px #000000, 1468px 1233px #000000,
    263px 245px #000000, 1189px 398px #000000, 63px 1560px #000000,
    1664px 1274px #000000, 612px 1247px #000000, 1377px 925px #000000,
    276px 738px #000000, 586px 78px #000000, 169px 241px #000000,
    386px 117px #000000, 64px 934px #000000, 1544px 753px #000000,
    1193px 689px #000000, 1366px 1223px #000000, 551px 28px #000000,
    292px 1126px #000000, 927px 742px #000000, 1199px 1179px #000000,
    203px 1409px #000000, 1209px 1951px #000000, 843px 920px #000000,
    220px 96px #000000, 158px 94px #000000, 1483px 1931px #000000,
    1921px 1272px #000000, 276px 1460px #000000, 1765px 1744px #000000,
    1353px 1369px #000000, 1779px 1425px #000000, 806px 349px #000000,
    1154px 1906px #000000, 1800px 765px #000000, 1202px 1392px #000000,
    1278px 1671px #000000, 87px 1267px #000000, 1793px 1812px #000000,
    86px 844px #000000, 634px 590px #000000, 499px 1235px #000000,
    836px 1608px #000000, 1753px 662px #000000, 1198px 903px #000000,
    1821px 1805px #000000, 125px 365px #000000, 1199px 1467px #000000,
    640px 724px #000000, 286px 1644px #000000, 105px 1350px #000000,
    715px 907px #000000, 1921px 86px #000000, 719px 1917px #000000,
    737px 1621px #000000, 1892px 791px #000000, 138px 1401px #000000,
    1743px 621px #000000, 1753px 383px #000000, 1976px 1527px #000000,
    382px 39px #000000, 1855px 1248px #000000, 951px 552px #000000,
    93px 1012px #000000, 1411px 483px #000000, 824px 1847px #000000,
    326px 1696px #000000, 445px 124px #000000, 858px 1963px #000000,
    958px 1118px #000000, 19px 1435px #000000, 1380px 991px #000000,
    1646px 332px #000000, 1201px 982px #000000, 461px 601px #000000,
    1077px 254px #000000, 915px 1822px #000000, 232px 407px #000000,
    1953px 1574px #000000, 1189px 1006px #000000, 1593px 54px #000000,
    687px 437px #000000, 1934px 255px #000000, 879px 1087px #000000,
    1832px 134px #000000, 1407px 1979px #000000, 1367px 1451px #000000,
    1745px 627px #000000, 348px 46px #000000, 277px 750px #000000,
    1932px 1626px #000000, 182px 1905px #000000, 89px 1867px #000000,
    1098px 1783px #000000, 1765px 766px #000000, 2px 968px #000000,
    317px 1459px #000000, 225px 386px #000000, 1267px 195px #000000,
    1763px 1915px #000000, 1557px 1119px #000000, 1546px 1825px #000000,
    1509px 465px #000000, 19px 1144px #000000, 216px 294px #000000,
    1119px 89px #000000, 348px 1284px #000000, 1311px 1630px #000000,
    479px 1035px #000000, 1822px 1362px #000000, 1835px 1597px #000000,
    110px 1483px #000000, 1931px 679px #000000, 1178px 1730px #000000,
    208px 666px #000000, 245px 1978px #000000, 1224px 1429px #000000,
    1809px 101px #000000, 881px 33px #000000, 1920px 1976px #000000,
    1642px 1291px #000000, 1659px 123px #000000, 1134px 1835px #000000,
    346px 1687px #000000, 763px 601px #000000, 105px 1324px #000000,
    1487px 1942px #000000, 296px 119px #000000, 1768px 930px #000000,
    958px 865px #000000, 1362px 1418px #000000, 1562px 111px #000000,
    1513px 694px #000000, 1533px 77px #000000, 758px 1842px #000000,
    437px 1724px #000000, 644px 289px #000000, 1673px 1689px #000000,
    170px 1283px #000000, 1067px 786px #000000, 1788px 460px #000000,
    1110px 930px #000000, 138px 930px #000000, 813px 529px #000000,
    1048px 866px #000000, 1885px 1594px #000000, 141px 199px #000000,
    544px 864px #000000, 1443px 148px #000000, 1721px 1521px #000000,
    1804px 241px #000000, 1810px 1326px #000000, 1467px 867px #000000,
    1151px 289px #000000, 1588px 1004px #000000, 122px 464px #000000,
    910px 1922px #000000, 242px 1045px #000000, 159px 84px #000000,
    288px 1085px #000000, 864px 1745px #000000, 1266px 1313px #000000,
    1537px 22px #000000, 606px 1413px #000000, 194px 1743px #000000,
    812px 1728px #000000, 461px 1770px #000000, 1008px 1184px #000000,
    1730px 1245px #000000, 1915px 1289px #000000, 978px 1846px #000000,
    1934px 1478px #000000, 459px 194px #000000, 31px 66px #000000,
    731px 973px #000000, 858px 1421px #000000, 213px 1196px #000000,
    719px 732px #000000, 965px 1122px #000000, 1149px 1941px #000000,
    206px 1722px #000000, 1921px 1497px #000000, 784px 645px #000000,
    1809px 1935px #000000, 538px 773px #000000, 1875px 1465px #000000,
    290px 914px #000000, 1494px 86px #000000, 506px 979px #000000,
    658px 989px #000000, 962px 1243px #000000, 163px 24px #000000,
    875px 859px #000000, 1254px 461px #000000, 582px 780px #000000,
    1127px 670px #000000, 1245px 584px #000000, 1494px 480px #000000,
    1734px 767px #000000, 511px 57px #000000, 134px 1530px #000000,
    81px 691px #000000, 948px 1554px #000000, 183px 1106px #000000,
    1623px 1354px #000000, 1823px 1710px #000000, 1336px 624px #000000,
    1931px 1907px #000000, 1867px 851px #000000, 1718px 782px #000000,
    1731px 836px #000000, 1053px 1026px #000000, 88px 748px #000000,
    341px 1276px #000000, 1515px 1704px #000000, 1250px 198px #000000,
    764px 1141px #000000, 1084px 1407px #000000, 85px 1141px #000000,
    455px 1538px #000000, 1949px 173px #000000, 1125px 925px #000000,
    1453px 496px #000000, 81px 1106px #000000, 38px 173px #000000,
    1272px 1131px #000000, 699px 1208px #000000, 851px 1730px #000000,
    653px 1679px #000000, 82px 1790px #000000, 1043px 2px #000000,
    858px 135px #000000, 1382px 1972px #000000, 1834px 1507px #000000,
    39px 603px #000000, 405px 600px #000000, 1109px 1763px #000000,
    573px 446px #000000, 1132px 1834px #000000, 442px 921px #000000,
    1149px 546px #000000, 509px 1519px #000000, 1645px 1594px #000000,
    727px 19px #000000, 894px 925px #000000, 674px 223px #000000,
    214px 1384px #000000, 1332px 1549px #000000, 1917px 904px #000000,
    1265px 426px #000000, 1774px 761px #000000, 555px 1318px #000000,
    1126px 931px #000000, 1993px 743px #000000, 565px 879px #000000,
    1079px 58px #000000, 1342px 895px #000000, 141px 1820px #000000,
    574px 327px #000000, 1225px 1216px #000000, 368px 1451px #000000,
    1671px 589px #000000, 1749px 1666px #000000, 104px 835px #000000,
    1255px 1840px #000000, 1351px 1397px #000000, 587px 1531px #000000,
    1796px 130px #000000, 1129px 1218px #000000, 1031px 1672px #000000,
    819px 266px #000000, 934px 259px #000000, 1101px 566px #000000,
    100px 366px #000000, 1022px 782px #000000, 1971px 1807px #000000,
    63px 670px #000000, 1843px 94px #000000, 1623px 968px #000000,
    728px 375px #000000, 347px 782px #000000, 1520px 1349px #000000,
    159px 742px #000000, 1640px 221px #000000, 1492px 1670px #000000,
    1850px 1631px #000000, 293px 346px #000000, 824px 1429px #000000,
    1342px 613px #000000, 264px 1047px #000000, 232px 1208px #000000,
    1880px 994px #000000, 1750px 1430px #000000, 203px 962px #000000,
    647px 204px #000000, 231px 1437px #000000, 750px 708px #000000,
    906px 1829px #000000, 618px 1940px #000000, 525px 1358px #000000,
    158px 758px #000000, 1198px 271px #000000, 633px 1646px #000000,
    956px 1474px #000000, 453px 1458px #000000, 588px 1678px #000000,
    1570px 1538px #000000, 855px 912px #000000, 1260px 1988px #000000,
    1468px 1905px #000000, 1550px 1132px #000000, 367px 35px #000000,
    1013px 263px #000000, 1050px 1948px #000000, 235px 645px #000000,
    1871px 1197px #000000, 958px 1474px #000000, 376px 1264px #000000,
    934px 1630px #000000, 1450px 385px #000000, 1391px 966px #000000,
    1016px 223px #000000, 672px 1029px #000000, 1834px 1739px #000000,
    693px 649px #000000, 1695px 979px #000000, 1580px 1222px #000000,
    864px 1239px #000000, 926px 1441px #000000, 1108px 1993px #000000,
    1177px 1368px #000000, 698px 698px #000000, 527px 928px #000000,
    39px 816px #000000, 1165px 1899px #000000, 99px 984px #000000,
    1844px 184px #000000, 858px 1142px #000000, 244px 1897px #000000,
    1720px 1570px #000000, 906px 1229px #000000, 718px 176px #000000,
    1721px 397px #000000, 1637px 313px #000000, 46px 966px #000000,
    1021px 405px #000000, 179px 634px #000000, 1428px 616px #000000,
    616px 796px #000000, 1842px 1946px #000000, 1415px 1350px #000000,
    571px 1379px #000000, 1064px 1319px #000000, 1688px 1808px #000000,
    641px 1781px #000000, 238px 320px #000000, 22px 1143px #000000,
    1241px 1177px #000000, 1043px 456px #000000, 1379px 1198px #000000,
    430px 152px #000000, 1294px 1722px #000000, 157px 581px #000000,
    488px 1485px #000000, 1426px 719px #000000, 680px 979px #000000,
    578px 1169px #000000, 212px 1535px #000000, 1988px 199px #000000,
    1215px 1360px #000000, 187px 62px #000000, 287px 1383px #000000,
    528px 1820px #000000, 1028px 1861px #000000, 1193px 655px #000000,
    1766px 417px #000000, 201px 960px #000000, 1546px 1497px #000000,
    1433px 1144px #000000, 1633px 983px #000000, 586px 1442px #000000,
    1154px 1540px #000000, 27px 871px #000000, 673px 1783px #000000,
    1505px 818px #000000, 644px 1992px #000000, 91px 416px #000000,
    67px 645px #000000, 1668px 1431px #000000, 771px 1658px #000000,
    1551px 600px #000000, 832px 531px #000000, 1944px 605px #000000,
    325px 222px #000000, 680px 1979px #000000, 955px 1916px #000000,
    1052px 1982px #000000, 1084px 168px #000000, 442px 1617px #000000,
    1262px 981px #000000, 645px 693px #000000, 1940px 1689px #000000,
    706px 1404px #000000, 152px 493px #000000, 1331px 1847px #000000,
    537px 1918px #000000, 297px 1974px #000000, 1834px 1265px #000000,
    833px 1707px #000000, 1520px 558px #000000, 1805px 797px #000000,
    247px 664px #000000, 1664px 320px #000000, 1198px 410px #000000,
    1971px 1591px #000000, 1881px 1709px #000000, 445px 1505px #000000,
    835px 1931px #000000, 1726px 573px #000000, 737px 1037px #000000,
    1786px 933px #000000, 1596px 1874px #000000, 1021px 1563px #000000,
    919px 1135px #000000, 1075px 1122px #000000, 536px 460px #000000,
    1580px 635px #000000, 687px 113px #000000, 259px 1305px #000000,
    945px 1468px #000000, 1130px 735px #000000, 1472px 1030px #000000,
    1371px 43px #000000, 491px 792px #000000, 1330px 1451px #000000,
    1569px 785px #000000, 614px 136px #000000, 1205px 1534px #000000,
    209px 1808px #000000, 1244px 848px #000000, 1727px 1275px #000000,
    1468px 1910px #000000, 1126px 1087px #000000, 970px 191px #000000,
    1883px 441px #000000, 173px 1515px #000000, 1455px 437px #000000,
    412px 359px #000000, 658px 969px #000000, 836px 1304px #000000,
    796px 1981px #000000, 1526px 1084px #000000, 882px 81px #000000,
    659px 910px #000000, 1555px 471px #000000, 1520px 1232px #000000,
    1571px 305px #000000, 1152px 1777px #000000, 799px 1482px #000000,
    1543px 530px #000000, 232px 1311px #000000, 1944px 1485px #000000,
    796px 1782px #000000, 464px 564px #000000, 1228px 240px #000000,
    84px 533px #000000, 1786px 77px #000000, 1561px 300px #000000,
    934px 1739px #000000, 243px 1691px #000000, 40px 1196px #000000,
    1975px 1927px #000000, 1348px 1334px #000000, 9px 1770px #000000,
    1167px 1607px #000000, 1864px 1039px #000000, 1004px 504px #000000,
    1341px 642px #000000, 895px 1954px #000000, 158px 1006px #000000,
    1499px 1827px #000000, 110px 1595px #000000, 167px 1317px #000000,
    787px 940px #000000, 1085px 1444px #000000, 89px 1356px #000000,
    1715px 1964px #000000, 542px 1172px #000000, 79px 413px #000000,
    177px 1544px #000000, 141px 1349px #000000, 1177px 921px #000000,
    494px 1825px #000000, 203px 774px #000000, 1963px 766px #000000,
    418px 1935px #000000, 14px 1227px #000000, 1209px 1328px #000000,
    1193px 16px #000000, 1858px 1530px #000000, 1276px 1758px #000000,
    1623px 1480px #000000, 1655px 888px #000000, 554px 38px #000000,
    1581px 401px #000000, 1183px 1567px #000000, 1161px 1833px #000000,
    1047px 1979px #000000, 1493px 840px #000000, 1308px 1487px #000000,
    1657px 441px #000000, 1427px 1826px #000000, 916px 1544px #000000,
    1726px 1997px #000000, 1929px 1976px #000000, 861px 1380px #000000,
    138px 1731px #000000, 1949px 712px #000000, 1879px 327px #000000,
    618px 468px #000000, 1622px 774px #000000, 82px 237px #000000,
    835px 1306px #000000, 1777px 648px #000000, 757px 1123px #000000,
    1596px 1917px #000000, 481px 287px #000000, 1156px 1144px #000000,
    1057px 1807px #000000, 1380px 498px #000000, 1541px 873px #000000,
    1739px 192px #000000, 1000px 1679px #000000, 1078px 1156px #000000,
    1995px 1730px #000000, 1609px 384px #000000, 1495px 1964px #000000,
    513px 1147px #000000, 1008px 1224px #000000, 1346px 1109px #000000,
    1087px 1005px #000000, 1953px 578px #000000, 1699px 529px #000000,
    1192px 6px #000000, 1208px 422px #000000, 1402px 344px #000000,
    828px 1585px #000000, 612px 738px #000000, 1845px 896px #000000,
    803px 769px #000000, 701px 333px #000000, 750px 1209px #000000,
    1556px 50px #000000, 1764px 1060px #000000, 915px 173px #000000,
    1283px 1880px #000000, 548px 1377px #000000, 1493px 1449px #000000,
    834px 1321px #000000, 910px 1114px #000000, 1040px 1221px #000000,
    1090px 1930px #000000, 1186px 418px #000000, 985px 1679px #000000,
    1949px 1840px #000000, 509px 1936px #000000, 1140px 214px #000000,
    1227px 1810px #000000, 1255px 1565px #000000, 266px 807px #000000,
    1528px 1361px #000000, 1749px 1413px #000000, 207px 723px #000000,
    494px 647px #000000, 1394px 1715px #000000, 1911px 1757px #000000,
    512px 1341px #000000, 333px 1544px #000000, 500px 881px #000000,
    1059px 704px #000000, 1489px 570px #000000, 1115px 491px #000000,
    637px 943px #000000, 1261px 215px #000000, 777px 530px #000000,
    1543px 899px #000000, 1433px 970px #000000, 1386px 1349px #000000,
    378px 1121px #000000, 649px 1252px #000000, 624px 1150px #000000,
    1372px 1764px #000000, 490px 909px #000000, 1015px 155px #000000,
    1021px 41px #000000, 725px 1819px #000000, 1852px 1093px #000000,
    1907px 1294px #000000, 1644px 286px #000000, 120px 232px #000000,
    453px 824px #000000, 1050px 533px #000000, 1211px 1731px #000000,
    1449px 722px #000000, 1957px 1783px #000000, 1809px 1113px #000000,
    168px 1106px #000000, 21px 6px #000000, 1611px 1120px #000000,
    757px 170px #000000, 485px 1036px #000000, 1872px 456px #000000,
    107px 1134px #000000, 1833px 260px #000000, 468px 35px #000000,
    1225px 1332px #000000, 1705px 1403px #000000, 253px 401px #000000,
    589px 1040px #000000, 1314px 601px #000000, 1745px 121px #000000,
    395px 1735px #000000, 1594px 1278px #000000, 1915px 1830px #000000,
    1134px 885px #000000, 1815px 1241px #000000, 1524px 1454px #000000,
    349px 386px #000000, 1362px 174px #000000, 709px 1254px #000000,
    706px 1208px #000000, 1981px 151px #000000, 1095px 1704px #000000,
    294px 1531px #000000, 1534px 149px #000000, 425px 498px #000000,
    1522px 1567px #000000, 1460px 868px #000000, 451px 1954px #000000,
    331px 1149px #000000, 1824px 830px #000000, 13px 413px #000000,
    85px 1016px #000000, 658px 1999px #000000, 1841px 1414px #000000,
    366px 27px #000000, 1491px 1601px #000000, 849px 18px #000000,
    515px 988px #000000, 1301px 1294px #000000, 1734px 298px #000000,
    318px 1830px #000000, 613px 599px #000000, 341px 1398px #000000,
    707px 1783px #000000, 81px 96px #000000, 835px 525px #000000,
    854px 1296px #000000, 1496px 150px #000000, 515px 419px #000000,
    1689px 605px #000000, 563px 461px #000000, 4px 1622px #000000,
    1357px 1611px #000000, 135px 1343px #000000, 755px 1929px #000000,
    279px 1404px #000000, 530px 1247px #000000, 788px 709px #000000,
    832px 1213px #000000, 1433px 944px #000000, 982px 1286px #000000,
    1959px 841px #000000, 174px 750px #000000, 1826px 628px #000000,
    1653px 307px #000000, 650px 149px #000000, 250px 323px #000000,
    1589px 1394px #000000, 152px 1327px #000000, 1884px 1081px #000000,
    319px 1178px #000000, 81px 1188px #000000, 623px 1293px #000000,
    1005px 94px #000000, 1453px 200px #000000, 583px 247px #000000,
    402px 1548px #000000, 811px 1991px #000000, 428px 915px #000000,
    997px 782px #000000, 61px 1297px #000000, 479px 1457px #000000,
    1226px 817px #000000, 1396px 1075px #000000, 1289px 1683px #000000,
    1416px 444px #000000;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1971px 1342px #000000, 1869px 1761px #000000, 778px 812px #000000,
    1877px 27px #000000, 631px 876px #000000, 74px 266px #000000,
    1813px 1669px #000000, 1654px 1589px #000000, 707px 567px #000000,
    1827px 1528px #000000, 1354px 238px #000000, 1837px 644px #000000,
    990px 1178px #000000, 1560px 1444px #000000, 607px 1477px #000000,
    1866px 789px #000000, 392px 1881px #000000, 180px 1163px #000000,
    509px 764px #000000, 1430px 1612px #000000, 1968px 1003px #000000,
    1868px 885px #000000, 1852px 1848px #000000, 1437px 1386px #000000,
    122px 846px #000000, 979px 886px #000000, 777px 863px #000000,
    1969px 1513px #000000, 984px 781px #000000, 246px 43px #000000,
    1760px 462px #000000, 1440px 1168px #000000, 692px 243px #000000,
    1074px 1567px #000000, 961px 621px #000000, 1684px 887px #000000,
    1650px 31px #000000, 1088px 1947px #000000, 1339px 1119px #000000,
    623px 973px #000000, 1955px 1744px #000000, 1746px 676px #000000,
    554px 1351px #000000, 944px 1608px #000000, 1297px 513px #000000,
    1968px 1837px #000000, 410px 176px #000000, 536px 404px #000000,
    1450px 674px #000000, 509px 1811px #000000, 1124px 1409px #000000,
    1274px 1184px #000000, 1960px 631px #000000, 1483px 1815px #000000,
    691px 103px #000000, 1218px 1234px #000000, 981px 1307px #000000,
    1959px 1302px #000000, 764px 1645px #000000, 714px 537px #000000,
    58px 575px #000000, 1432px 535px #000000, 1267px 1687px #000000,
    835px 1435px #000000, 149px 1309px #000000, 285px 880px #000000,
    1525px 1640px #000000, 130px 872px #000000, 1144px 1381px #000000,
    640px 1386px #000000, 938px 1058px #000000, 1761px 587px #000000,
    1546px 798px #000000, 967px 1898px #000000, 1854px 890px #000000,
    1473px 711px #000000, 243px 298px #000000, 483px 1547px #000000,
    1101px 1362px #000000, 1617px 1811px #000000, 339px 1578px #000000,
    1181px 522px #000000, 165px 1403px #000000, 1790px 1682px #000000,
    1065px 1940px #000000, 982px 1366px #000000, 768px 1875px #000000,
    1339px 1607px #000000, 1678px 1233px #000000, 1185px 370px #000000,
    572px 318px #000000, 135px 11px #000000, 1765px 1217px #000000,
    1859px 199px #000000, 52px 1500px #000000, 261px 633px #000000,
    1481px 521px #000000, 583px 823px #000000, 999px 589px #000000,
    702px 1891px #000000, 1273px 341px #000000, 368px 1108px #000000,
    423px 1329px #000000, 806px 1335px #000000, 1813px 99px #000000,
    1977px 1113px #000000, 851px 1371px #000000, 267px 379px #000000,
    1855px 148px #000000, 454px 437px #000000, 894px 532px #000000,
    957px 420px #000000, 1053px 1186px #000000, 772px 638px #000000,
    591px 838px #000000, 717px 1971px #000000, 1106px 1218px #000000,
    1451px 765px #000000, 100px 1164px #000000, 623px 1375px #000000,
    1897px 976px #000000, 372px 333px #000000, 19px 1275px #000000,
    412px 199px #000000, 590px 1810px #000000, 1210px 247px #000000,
    913px 716px #000000, 1822px 1440px #000000, 1110px 1731px #000000,
    1129px 1757px #000000, 1224px 1155px #000000, 1598px 27px #000000,
    1652px 193px #000000, 438px 1613px #000000, 1295px 1464px #000000,
    1335px 559px #000000, 1252px 1657px #000000, 1585px 259px #000000,
    772px 485px #000000, 998px 1293px #000000, 1925px 141px #000000,
    1335px 1924px #000000, 1331px 1146px #000000, 1270px 1941px #000000,
    933px 150px #000000, 87px 1868px #000000, 310px 1516px #000000,
    1151px 1273px #000000, 614px 1407px #000000, 874px 166px #000000,
    1325px 1377px #000000, 318px 1699px #000000, 1586px 1959px #000000,
    787px 1682px #000000, 465px 1693px #000000, 659px 1910px #000000,
    537px 537px #000000, 1223px 1565px #000000, 839px 1035px #000000,
    1836px 598px #000000, 1692px 1926px #000000, 869px 1813px #000000,
    415px 1869px #000000, 1888px 1332px #000000, 992px 1284px #000000,
    1734px 1773px #000000, 1693px 5px #000000, 281px 1909px #000000,
    1004px 1316px #000000, 327px 1702px #000000, 245px 249px #000000,
    125px 978px #000000, 1107px 1242px #000000, 1746px 321px #000000,
    689px 553px #000000, 1506px 461px #000000, 789px 4px #000000,
    1364px 387px #000000, 1393px 505px #000000, 1832px 134px #000000,
    1412px 995px #000000, 1330px 816px #000000, 1344px 471px #000000,
    1882px 840px #000000, 1184px 1480px #000000, 648px 306px #000000,
    994px 757px #000000, 1390px 282px #000000, 511px 320px #000000,
    305px 817px #000000, 1316px 440px #000000, 274px 529px #000000,
    314px 574px #000000, 1198px 1317px #000000, 572px 769px #000000,
    1414px 1329px #000000, 363px 1245px #000000, 381px 1211px #000000,
    340px 502px #000000, 1403px 1624px #000000;
  -webkit-animation: animStar 40s linear infinite;
  animation: animStar 40s linear infinite;
}

.stars2:after {
  content: ' ';
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1971px 1342px #000000, 1869px 1761px #000000, 778px 812px #000000,
    1877px 27px #000000, 631px 876px #000000, 74px 266px #000000,
    1813px 1669px #000000, 1654px 1589px #000000, 707px 567px #000000,
    1827px 1528px #000000, 1354px 238px #000000, 1837px 644px #000000,
    990px 1178px #000000, 1560px 1444px #000000, 607px 1477px #000000,
    1866px 789px #000000, 392px 1881px #000000, 180px 1163px #000000,
    509px 764px #000000, 1430px 1612px #000000, 1968px 1003px #000000,
    1868px 885px #000000, 1852px 1848px #000000, 1437px 1386px #000000,
    122px 846px #000000, 979px 886px #000000, 777px 863px #000000,
    1969px 1513px #000000, 984px 781px #000000, 246px 43px #000000,
    1760px 462px #000000, 1440px 1168px #000000, 692px 243px #000000,
    1074px 1567px #000000, 961px 621px #000000, 1684px 887px #000000,
    1650px 31px #000000, 1088px 1947px #000000, 1339px 1119px #000000,
    623px 973px #000000, 1955px 1744px #000000, 1746px 676px #000000,
    554px 1351px #000000, 944px 1608px #000000, 1297px 513px #000000,
    1968px 1837px #000000, 410px 176px #000000, 536px 404px #000000,
    1450px 674px #000000, 509px 1811px #000000, 1124px 1409px #000000,
    1274px 1184px #000000, 1960px 631px #000000, 1483px 1815px #000000,
    691px 103px #000000, 1218px 1234px #000000, 981px 1307px #000000,
    1959px 1302px #000000, 764px 1645px #000000, 714px 537px #000000,
    58px 575px #000000, 1432px 535px #000000, 1267px 1687px #000000,
    835px 1435px #000000, 149px 1309px #000000, 285px 880px #000000,
    1525px 1640px #000000, 130px 872px #000000, 1144px 1381px #000000,
    640px 1386px #000000, 938px 1058px #000000, 1761px 587px #000000,
    1546px 798px #000000, 967px 1898px #000000, 1854px 890px #000000,
    1473px 711px #000000, 243px 298px #000000, 483px 1547px #000000,
    1101px 1362px #000000, 1617px 1811px #000000, 339px 1578px #000000,
    1181px 522px #000000, 165px 1403px #000000, 1790px 1682px #000000,
    1065px 1940px #000000, 982px 1366px #000000, 768px 1875px #000000,
    1339px 1607px #000000, 1678px 1233px #000000, 1185px 370px #000000,
    572px 318px #000000, 135px 11px #000000, 1765px 1217px #000000,
    1859px 199px #000000, 52px 1500px #000000, 261px 633px #000000,
    1481px 521px #000000, 583px 823px #000000, 999px 589px #000000,
    702px 1891px #000000, 1273px 341px #000000, 368px 1108px #000000,
    423px 1329px #000000, 806px 1335px #000000, 1813px 99px #000000,
    1977px 1113px #000000, 851px 1371px #000000, 267px 379px #000000,
    1855px 148px #000000, 454px 437px #000000, 894px 532px #000000,
    957px 420px #000000, 1053px 1186px #000000, 772px 638px #000000,
    591px 838px #000000, 717px 1971px #000000, 1106px 1218px #000000,
    1451px 765px #000000, 100px 1164px #000000, 623px 1375px #000000,
    1897px 976px #000000, 372px 333px #000000, 19px 1275px #000000,
    412px 199px #000000, 590px 1810px #000000, 1210px 247px #000000,
    913px 716px #000000, 1822px 1440px #000000, 1110px 1731px #000000,
    1129px 1757px #000000, 1224px 1155px #000000, 1598px 27px #000000,
    1652px 193px #000000, 438px 1613px #000000, 1295px 1464px #000000,
    1335px 559px #000000, 1252px 1657px #000000, 1585px 259px #000000,
    772px 485px #000000, 998px 1293px #000000, 1925px 141px #000000,
    1335px 1924px #000000, 1331px 1146px #000000, 1270px 1941px #000000,
    933px 150px #000000, 87px 1868px #000000, 310px 1516px #000000,
    1151px 1273px #000000, 614px 1407px #000000, 874px 166px #000000,
    1325px 1377px #000000, 318px 1699px #000000, 1586px 1959px #000000,
    787px 1682px #000000, 465px 1693px #000000, 659px 1910px #000000,
    537px 537px #000000, 1223px 1565px #000000, 839px 1035px #000000,
    1836px 598px #000000, 1692px 1926px #000000, 869px 1813px #000000,
    415px 1869px #000000, 1888px 1332px #000000, 992px 1284px #000000,
    1734px 1773px #000000, 1693px 5px #000000, 281px 1909px #000000,
    1004px 1316px #000000, 327px 1702px #000000, 245px 249px #000000,
    125px 978px #000000, 1107px 1242px #000000, 1746px 321px #000000,
    689px 553px #000000, 1506px 461px #000000, 789px 4px #000000,
    1364px 387px #000000, 1393px 505px #000000, 1832px 134px #000000,
    1412px 995px #000000, 1330px 816px #000000, 1344px 471px #000000,
    1882px 840px #000000, 1184px 1480px #000000, 648px 306px #000000,
    994px 757px #000000, 1390px 282px #000000, 511px 320px #000000,
    305px 817px #000000, 1316px 440px #000000, 274px 529px #000000,
    314px 574px #000000, 1198px 1317px #000000, 572px 769px #000000,
    1414px 1329px #000000, 363px 1245px #000000, 381px 1211px #000000,
    340px 502px #000000, 1403px 1624px #000000;
}

.stars3 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 691px 57px #000000, 362px 1401px #000000, 1636px 1491px #000000,
    1270px 705px #000000, 1284px 1036px #000000, 1103px 275px #000000,
    659px 1849px #000000, 621px 1370px #000000, 897px 1861px #000000,
    1297px 629px #000000, 1650px 927px #000000, 19px 1417px #000000,
    1809px 1921px #000000, 1133px 1819px #000000, 703px 491px #000000,
    233px 836px #000000, 1893px 1200px #000000, 409px 1268px #000000,
    211px 514px #000000, 1155px 1465px #000000, 1731px 1562px #000000,
    1508px 746px #000000, 613px 866px #000000, 1430px 655px #000000,
    1131px 1775px #000000, 1800px 1728px #000000, 227px 1051px #000000,
    553px 1502px #000000, 804px 763px #000000, 420px 471px #000000,
    716px 954px #000000, 178px 300px #000000, 1626px 381px #000000,
    1322px 1133px #000000, 318px 1340px #000000, 1161px 1258px #000000,
    718px 317px #000000, 1284px 1760px #000000, 1140px 1699px #000000,
    595px 1048px #000000, 1814px 1252px #000000, 144px 693px #000000,
    1832px 1833px #000000, 835px 1738px #000000, 272px 1849px #000000,
    1652px 444px #000000, 745px 1456px #000000, 645px 1285px #000000,
    1499px 722px #000000, 1256px 181px #000000, 1772px 220px #000000,
    1985px 1630px #000000, 475px 1422px #000000, 699px 1927px #000000,
    288px 1586px #000000, 1120px 1622px #000000, 1918px 544px #000000,
    1395px 1059px #000000, 326px 1209px #000000, 1290px 1065px #000000,
    726px 1189px #000000, 363px 1287px #000000, 725px 1370px #000000,
    528px 824px #000000, 1819px 1660px #000000, 214px 1664px #000000,
    494px 1804px #000000, 1744px 233px #000000, 1942px 26px #000000,
    1291px 404px #000000, 525px 1681px #000000, 503px 758px #000000,
    75px 166px #000000, 1111px 353px #000000, 1935px 191px #000000,
    185px 695px #000000, 1503px 888px #000000, 1335px 598px #000000,
    591px 893px #000000, 1522px 1281px #000000, 735px 1194px #000000,
    48px 1884px #000000, 769px 1072px #000000, 1332px 533px #000000,
    1029px 822px #000000, 1956px 85px #000000, 80px 1474px #000000,
    1107px 1720px #000000, 1954px 1044px #000000, 1384px 1732px #000000,
    317px 678px #000000, 269px 623px #000000, 600px 1466px #000000,
    536px 1611px #000000, 1238px 488px #000000, 1404px 864px #000000,
    1527px 1407px #000000, 771px 1888px #000000, 1676px 466px #000000,
    1257px 1135px #000000;
  -webkit-animation: animStar 50s linear infinite;
  animation: animStar 50s linear infinite;
}

.stars3:after {
  content: ' ';
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 691px 57px #000000, 362px 1401px #000000, 1636px 1491px #000000,
    1270px 705px #000000, 1284px 1036px #000000, 1103px 275px #000000,
    659px 1849px #000000, 621px 1370px #000000, 897px 1861px #000000,
    1297px 629px #000000, 1650px 927px #000000, 19px 1417px #000000,
    1809px 1921px #000000, 1133px 1819px #000000, 703px 491px #000000,
    233px 836px #000000, 1893px 1200px #000000, 409px 1268px #000000,
    211px 514px #000000, 1155px 1465px #000000, 1731px 1562px #000000,
    1508px 746px #000000, 613px 866px #000000, 1430px 655px #000000,
    1131px 1775px #000000, 1800px 1728px #000000, 227px 1051px #000000,
    553px 1502px #000000, 804px 763px #000000, 420px 471px #000000,
    716px 954px #000000, 178px 300px #000000, 1626px 381px #000000,
    1322px 1133px #000000, 318px 1340px #000000, 1161px 1258px #000000,
    718px 317px #000000, 1284px 1760px #000000, 1140px 1699px #000000,
    595px 1048px #000000, 1814px 1252px #000000, 144px 693px #000000,
    1832px 1833px #000000, 835px 1738px #000000, 272px 1849px #000000,
    1652px 444px #000000, 745px 1456px #000000, 645px 1285px #000000,
    1499px 722px #000000, 1256px 181px #000000, 1772px 220px #000000,
    1985px 1630px #000000, 475px 1422px #000000, 699px 1927px #000000,
    288px 1586px #000000, 1120px 1622px #000000, 1918px 544px #000000,
    1395px 1059px #000000, 326px 1209px #000000, 1290px 1065px #000000,
    726px 1189px #000000, 363px 1287px #000000, 725px 1370px #000000,
    528px 824px #000000, 1819px 1660px #000000, 214px 1664px #000000,
    494px 1804px #000000, 1744px 233px #000000, 1942px 26px #000000,
    1291px 404px #000000, 525px 1681px #000000, 503px 758px #000000,
    75px 166px #000000, 1111px 353px #000000, 1935px 191px #000000,
    185px 695px #000000, 1503px 888px #000000, 1335px 598px #000000,
    591px 893px #000000, 1522px 1281px #000000, 735px 1194px #000000,
    48px 1884px #000000, 769px 1072px #000000, 1332px 533px #000000,
    1029px 822px #000000, 1956px 85px #000000, 80px 1474px #000000,
    1107px 1720px #000000, 1954px 1044px #000000, 1384px 1732px #000000,
    317px 678px #000000, 269px 623px #000000, 600px 1466px #000000,
    536px 1611px #000000, 1238px 488px #000000, 1404px 864px #000000,
    1527px 1407px #000000, 771px 1888px #000000, 1676px 466px #000000,
    1257px 1135px #000000;
}

@-webkit-keyframes animStar {
  from {
    transform: translateY(00);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}
@media (max-width: 1200px) {
  .profile:before {
    right: 4rem;
  }
}
@media (max-width: 950px) {
  .showcase {
    display: flex;
    flex-direction: column;
  }
  .profile {
    display: none;
  }
  .info {
    margin-top: 50px;
    flex: 2;
    justify-content: space-evenly;
  }
  .footer {
    flex: 1;
  }
  .info h2 {
    font-size: 4rem;
  }
  .info p {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .info h2 {
    font-size: 3rem;
  }
  .info p {
    font-size: 1.5rem;
  }
}
