body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --mainBlue: #e0fcff;
  --darkBlue: #2caeba;
  --lightBlue: #009ffd;
  --mainWhite: #fafafa;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightYellow: hsl(42, 78%, 60%);
  --mainBlack: black;
  --mainHover: rgba(226, 226, 226, 0.514);
  --mainActive: rgba(169, 169, 169, 0.4);
  --icon: hsl(209, 61%, 16%);
}
